body {
    font-family: "Lexend Deca", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #f2eee9;
}

.row{
    text-align: center;
}

.header{
    font-family: "Caveat Brush", serif;
    font-size: 6rem;
    font-weight: bold;
}

.mt--3{
    margin-top: -6%;
}

.color-green{
    color: #527b55;
}

.color-yello{
    color: #e79627;
}

p{
    color: #527b55;
    font-size: 2rem;
}

.name{
    font-family: "Mansalva", serif;
    font-size: 2rem;
}